---
layout: "default"

title:  "Home"
description: A blog on software architecture, development and security
---
<div>
    <nav class="margin-horz">
        {% for post in site.posts %}
            <article class="padding-vert">
                <h2 class="text-large"><a href="{{ post.url }}">{{ post.title }}</a></h2>

                <time class="icon-date" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
                <ul class="icon-label list-inline list-comma">
                    {% for tag in post.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
                {{ post.excerpt | truncate: 256, "…" }}
            </article>
        {% endfor %}
    </nav>
</div>
<div>
    <header class="text-center margin-vert">
        <img alt="Avatar" src="images/avatar.jpeg" width="256" height="256" 
            style="border-radius:4px;box-shadow:0 0 4px #3333" />
    </header>

    <div class="margin-horz text-justify">
        <address class="text-center margin-vert">
            {% for link in site.links %}
            <a class="line-spacing" href="{{ link.value }}" target="_blank" rel="noopener">{{ link.label }}</a>
            {% if forloop.last == false %}<br />{% endif %}
            {% endfor %}
        </address>
        <p>{{ site.biography }}</p>
        <small>For professional enquiries, please get in touch with me through LinkedIn.</small>
    </div>
</div>
