---
layout: "default"
---
<div>
    <article class="padding-horz text-justify with-h1">
        <time class="icon-date" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
        <ul class="icon-label list-inline list-comma">
            {% for tag in page.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        {{ content }}
    </article>
</div>
<div>
    <div class="sidebar-content padding-all">
        <a href="/">&#x1F3E0; Back to home</a>
        <h1>Table of Contents</h1>
        <nav class="toc">
            {% include toc.html html=content ordered="true" anchor_class="line-spacing" %}
        </nav>
    </div>
</div>