<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="dark light">

        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="{{ page.description }}">

        <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" sizes="any">
        <link rel="stylesheet" href="/styles/common.css" type="text/css">
        <!-- <link rel="stylesheet" href="/styles/dark.css" type="text/css" media="(prefers-color-scheme:dark)"> -->
        <link rel="stylesheet" href="/styles/fonts.css" type="text/css">
    </head>
    <body>
        {% include header.html %}

        <main class="golden">
            {{ content }}
        </main>

        {% include footer.html %}
    </body>
</html>